@use "../vars";
@use "../mixins";
.pagination{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  &__item{
    height: 3.625em;
    min-width: 3.625em;
    padding: 0 1.25em;
    border-radius: 0.25em;
    border: 1px solid vars.$black;
    @include mixins.center;
    margin: 0 .3125em;
    font-weight: 500;
    svg{
      width: 1.0625em;
      height: auto;
    }
    &._active{
      pointer-events: none;
    }
    &:hover,
    &._active{
      color: #fff;
      background-color: vars.$black;
      border-color: vars.$black;
      path{
        fill: #fff;
      }
    }
    &._disabled{
      opacity: .5;
      pointer-events: none;
    }
    &._btn{
      padding: 0 1.5em;
    }
  }
}


@media screen and (max-width: 992px){
  .pagination{
    margin-top: 1.875em;
  }
}


@media screen and (max-width: 576px){
  .pagination{
    margin-top: 1.56em;
    ._hide-tablet{
      display: none;
    }
    ._btn{
      width: 2.8125em;
      padding: 0;
    }
    &__item{
      height: 2.8125em;
      min-width: 2.8125em;
      padding: 0 .875em;
      span{
        font-size: .875em;
      }
    }
  }
}
