._flex,
._flex-between,
._flex-center{
  display: flex;
  align-items: center;
  &._start{
    align-items: unset;
  }
}

._flex-between{
  justify-content: space-between;
}

._flex-center{
  justify-content: center;
}

._mt48{
  margin-top: 3em;
}

._mt40{
  margin-top: 2.5em;
}

._mt32{
  margin-top: 2em;
}

._mt24{
  margin-top: 1.5em;
}

._mt16{
  margin-top: 1em;
}

._mt12{
  margin-top: .75em;
}

._mt8{
  margin-top: .5em;
}

._gap16{
  display: grid;
  grid-template-columns: 100%;
  gap: 1em;
}

._scale-img{
  overflow: hidden;
  &:hover{
    img{
      transform: scale(1.05);
    }
  }
  img{
    transition: all .6s;
  }
}

.m-backdrop{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    pointer-events: none;
    border-radius: inherit;
  }
}

.opacity-40{
  opacity: .4;
}


@media screen and (max-width: 992px){
  ._mt32-tablet{
    margin-top: 2em;
  }

  ._mt24-tablet{
    margin-top: 1.5em;
  }

  ._mt16-tablet{
    margin-top: 1em;
  }
}


@media screen and (max-width: 576px){
  ._mt24-mob{
    margin-top: 1.5em;
  }

  ._mt16-mob{
    margin-top: 1em;
  }

  ._mt12-mob{
    margin-top: .75em;
  }

  ._mt8-mob{
    margin-top: .5em;
  }
}
